@import "tailwindcss";

/* Paksa light theme (supaya UI kita konsisten & kebaca) */
:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slate-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
